<!-- Side Navigation -->
<div id="sidenav" class="sidenav">
  <div class="sidenav_header">
    <div class="logo_section">
    <i class='bx bxs-network-chart'></i>
      <h3>ANSAB MEAL</h3>
    </div>
    
    <a href="/" class="sidenav_link active">
      <i class='bx bx-folder'></i>
      <h3>Projects</h3>
    </a>
    
    <a href="/profile" class="sidenav_link">
      <i class='bx bx-briefcase'></i>
      <h3>Profile</h3>
    </a>
    
    <a href="#" class="sidenav_link">
      <i class='bx bx-file'></i>
      <h3>Files</h3>
    </a>
    
    <a href="#" class="sidenav_link">
      <i class='bx bx-rocket'></i>
      <h3>Report</h3>
    </a>
  </div>
  <div class="sidenav_footer">
    <a href="#" class="sidenav_link">
      <i class='bx bx-log-out-circle'></i>
      <h3>Log Out</h3>
    </a>
  </div>
</div>