<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nawalpur Tourism</title>
</head>
<body>
<h1>Projects for Climate change</h1>

  <a href="/schema/add-event/climate" class="button">Create Event</a>
  <a href="/schema/climate" class="button">Create Schema</a>
  <a href="/schemas/climate" class="button">View Schemas</a>
<p>


</body>
</html>