
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nawalpur Tourism</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<h1>Project Management App</h1>


  <a href="/agriculture" class="button">Nature-based commercial agriculture</a><br>
  <a href="/forest" class="button">Sustainable Forest Management</a><br>
  <a href="/water" class="button">Water</a><br>
  <a href="/climate" class="button">Climate change</a><br>
<p>

  <a href="/schemas" class="button">View all schemas</a>

<br>
  <a href="/employee" class="button">View all employees</a>
  <a href="/employee/add" class="button">Add new emplpyee</a>




</body>
</html>