<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEAL</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<div id="page_wrapper">
  <div id="sidenav" class="sidenav">
    <div class="sidenav_header">
      <div class="logo_section">
        <i class='bx bxl-foursquare'></i>
        <h3>MEAL</h3>
      </div>
      
      <a href="/" class="sidenav_link active">
        <i class='bx bx-folder'></i>
        <h3>Projects</h3>
      </a>
      
      <a href="/profile" class="sidenav_link">
        <i class='bx bx-briefcase'></i>
        <h3>Profile</h3>
      </a>
      
      <a href="#" class="sidenav_link">
        <i class='bx bx-file'></i>
        <h3>Files</h3>
      </a>
      
      <a href="#" class="sidenav_link">
        <i class='bx bx-calendar'></i>
        <h3>Calendar</h3>
        <button disabled class="external_link">
          <i class='bx bx-link-external'></i>
        </button> 
      </a>
    </div>
    <div class="sidenav_footer">
      <a href="#" class="sidenav_link">
        <i class='bx bx-rocket'></i>
        <h3>Report</h3>
      </a>
    </div>
    
    <button id="nav_collapse_btn">
      <i class='bx bxs-chevrons-left'></i>
    </button>
  </div>
  
  <main>
    <header>
      <div class="text">
        <h2>Projects</h2> 
        <p>Overview of the status, progress, and performance of projects</p>
      </div>
    </header>

    <section>
      <h3>Project Categories</h3>
      <div class="square-box-group">
        <a href="/agriculture" class="square-box box1">Nature-based Commercial Agriculture</a>
        <a href="/forest" class="square-box box2">Sustainable Forest Management</a>
        <a href="/water" class="square-box box3">Water</a>
        <a href="/climate" class="square-box box4">Climate Change</a>
      </div>
    </section>

    <section>
      <h3>Additional Resources</h3>
      <div class="button-group">
        <a href="/eventb" class="button">Add event</a>
        <a href="/vieweventb" class="button">View event</a>
        <a href="/schemas" class="button">View All Schemas</a>
        <a href="/employee" class="button">View All Employees</a>
        <a href="/employee/add" class="button">Add New Employee</a>
      </div>
    </section>
  </main>
</div>

<script src="/script/home.js"></script>

</body>
</html>
