<body>
   <section>
      <h3>Additional Resources</h3>
      <div class="button-group">
        <a href="/schemas" class="button">View All Schemas</a>
        <a href="/employee" class="button">View All Employees</a>
        <a href="/employee/add" class="button">Add New Employee</a>
      </div>
    </section>

